@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: rgb(241, 241, 241);
}

h1, h2, a {
    font-family: Graphik;
}

body > section > div {
    margin: 0 1vw;
}

/*NAVIGATION SECTION*/
.navigation-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 2%;
}

.navigation-container > div:nth-child(1) {
    justify-content: space-around;
    background-color: black;
}

.navigation-container > div:nth-child(1) > div {
    width: 60%;
}

.navigation-container > div:nth-child(1) > div > input {
    width: 95%;
}


.navigation-container > div {
    display: flex;
    background-color: #141414;
    padding: 2vh 2vw;
}

.navigation-container > div:nth-child(2) {
    padding: 0;
}

.navigation-container > div:nth-child(2) > div {
    margin: 2vh 2vw;
}

.navigation-container > div:nth-child(2) > div:nth-child(1) {
    flex-basis: 13%;
}

.navigation-container > div:nth-child(2) > div:nth-child(2) {
    display: flex;
    justify-content: center;
    gap: 4vw;
    flex-basis: 70%;
    align-items: center;
}

.navigation-container a {
    text-decoration: none;
    font-size: 1.15em;
    color: hsla(0, 0%, 100%, .415);
}

.navigation-container > div:nth-child(2) > div:nth-child(2) > a:nth-child(1) {
    top: calc(20% + 10px);
    background: black;
    color: hsla(0, 0%, 100%, .815);
    position: relative;
    height: 120%;
    padding: 10px;
}

.navigation-container > div:nth-child(2) > a:nth-child(1) {
    color: white;
}

.navigation-container a.navigation-title { 
    font-family: Roboto;
    font-size: 2.5em;
    color: white;
}

/*FILMS SECTION*/
.films-container {
    display: flex;
}

.films-container > div {
    display: flex;
    /* flex-direction: column; */
}

.films-container > div > a {
    width: 24.23vw;
    aspect-ratio: 5/8;
}

.films-container > div:nth-child(1) > a {
    /* width: 72vw; */
}

.films-container > div > a > img {
    width: 100%;
    height: 100%;
}

/*ARTICLES SECTION*/
.articles-container {
    display: flex;
    margin-bottom: 1vh;
    align-items: center;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news > h1 {
    font-size: 3em;
    margin-bottom: 4vh;
}

.news > div {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    margin-bottom: 2vh;
}

.news > div > div {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    width: 80%;
}

.news > div > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 56%;
}

.news > div > div > div:nth-child(1) {
    flex-basis: 84%;
}

.news > div > div > div:nth-child(2) {
    flex-basis: 16%;
}

.news > div > div > div:nth-child(2) > img {
    width: 100%;
}

.news > div > div:nth-child(2) > div:nth-child(2) > img {
    display: none;
}

.news > div > div:nth-child(3) > div:nth-child(1) {
    order: 2;
}

.news > div > div:nth-child(3) > div:nth-child(2) {
    order: 1;
}

.news > div > div > div > h2 {
    font-size: 2.2em;
    margin: 0;
}

.news > div > div > div > p {
    margin-top: 0;
    font-family: Calibri;
    font-size: 1.2em;
}

/*FOOTER SECTION*/
.footer-container {
    display: flex;
    background-color: #141414;
    margin: 0;
    padding: 2vh 1vw;
    justify-content: space-between;
}

.footer-container > div > p {
    font-family: Calibri;
    color: hsla(0, 0%, 100%, .6);
}

@media (max-width: 1000px) {
    .films-container > div {
        flex-direction: column;
        flex-grow: 1;
    }

    .films-container a {
        aspect-ratio: auto !important;
        width: 100% !important;
    }

    .navigation-container > div:nth-child(2) > div:nth-child(1) {
        display: none;
    }

    .navigation-container > div:nth-child(2) > div:nth-child(2) {
        flex-basis: 100%;
        flex-wrap: wrap;
    }
    
    .navigation-container > div:nth-child(2) > div:nth-child(2) > a {
        display: flex;
        flex-basis: 47%;
        justify-content: center;
    }
    
    .navigation-container > div:nth-child(2) > div:nth-child(2) > a:nth-child(1) {
        top: 0;
        background: transparent;
        color: hsla(0, 0%, 100%, .815);
        height: auto;
        padding: 0;
    }

}